* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

#trybewarts-header-logo {
  display: flex;
  align-items: center;
  width: 30%;
}

#trybewarts-login {
  display: flex;
  align-items: flex-end;
  width: 30%;
}

h1 {
  display: flex;
  align-items: flex-end;
  width: 30%;
}
