* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  border: solid 2px yellow;
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 100px;
  width: 100%;
  padding: 15px;
}

.main {
  display: flex;
}

#trybewarts-header-logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 30%;
}

#trybewarts-login {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 20.5%;
}

#evaluation-form {
  display: flex;
  flex-flow: column nowrap;
  width: 675px;
  justify-content: stretch;
  align-items: flex-start;
  background-color: rgb(50, 51, 51);
}

.flex-container {
  display: flex;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}
